.no-chat-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
  background-color: #ffffff;
  padding: 1rem;
  box-sizing: border-box;
}

.no-chat-card {
  background-color: rgb(255, 255, 255);
  border-radius: 30px;
  color: black;
  margin-bottom: 150px;
}

.icon-container {
  display: flex;
  justify-content: center;
}

.icon-wrapper {
  animation: bounce 4s infinite ease-in-out;
}

.iconn {
  width: 100px;
  cursor: pointer;
  height: 100px;
  color: #000000;
}

.text-container {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.welcome-text {
  font-size: 35px;
  font-weight: bold;
  color: #000000;
}

.welcome-text strong {
  font-style: italic;
  font-weight: 500;
  color: red;
}

@keyframes bounce {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }
}

@media (max-width: 600px) {
  .no-chat-card {
    padding: 1.5rem;
    border-radius: 20px;
  }

  .icon-container {
    height: 80px;
    width: 80px;
    margin-bottom: 1.5rem;
  }

  .text-container {
    gap: 0.5rem;
  }
}

@media (min-width: 601px) and (max-width: 900px) {
  .welcome-text {
    font-size: 25px;
  }

  .iconn {
    height: 80px;
    width: 80px;
  }
}