
.sidebar-list {
  flex-grow: 1;
  overflow-y: auto;
  padding: 0.75rem;
}

.sidebar-user {
  display: flex;
  align-items: center;
  padding: 0.8rem 1rem;
  border-radius: 12px;
  margin-bottom: 0.5rem;
  transition: background-color 0.2s ease, box-shadow 0.2s ease;
}

.sidebar-user:hover {
  background-color: #f8f9fa;
}

.sidebar-user.selected {
  background-color: black;
  color: white;
  box-shadow: 0 4px 10px rgba(48, 47, 55, 0.4);
}

.sidebar-user-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1px;
}

.sidebar-avatar {
  position: relative;
  margin-right: 10px;
  flex-shrink: 0;
}

.avatar-imgg {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.status-indicatorr {
  position: absolute;
  bottom: 4px;
  right: 2px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 2px solid white;
}

.sidebar-user.selected .status-indicatorr {
  border-color: #000000;
}

.status-indicatorr.online {
  background-color: rgb(0, 255, 0);
}

.status-indicatorr.offline {
  background-color: red;
}

.sidebar-user-details {
  overflow: hidden;
}

.sidebar-username {
  font-weight: 600;
  font-size: 1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sidebar-lastseen-only {
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sidebar-lastseen-only .Online {
  color: rgb(0, 255, 0);
}

.sidebar-user.selected .sidebar-lastseen-only {
  color: rgba(255, 255, 255, 0.8);
}

.sidebar-no-users {
  text-align: center;
  padding: 2rem;
  color: #000000;
}

.sidebar-no-users p {
  margin-bottom: 5px;
}

.sidebar-space {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 1024px) {
  .sidebarr {
    width: 250px;
  }

  .lock-chat {
    z-index: 999;
    top: 15px;
    font-size: 1.15rem;
    position: absolute;
    left: 220px;
  }
}

@media (max-width: 768px) {
  .sidebarr {
    position: fixed;
    top: 0;
    left: -100%;
    height: 100vh;
    z-index: 1000;
    background-color: #ffffff;
    transition: left 0.3s ease;
    width: 80%;
  }

  .sidebarr.open {
    left: 0;
  }

  .lock-chat {
    z-index: 999;
    top: 15px;
    font-size: 1.15rem;
    position: absolute;
    right: 220px;
  }
}

@media (max-width: 480px) {
  .sidebarr {
    width: 100%;
  }

  .lock-chat {
    left: 80%;
  }

  .hamburger-btn {
    left: 200px
  }

}

.sidebar-lastseen-only {
  font-size: 13px;
  margin-top: 2px;
}

.status-online {
  color: #04ff00;
  font-weight: 600;
}

.status-lastseen {
  color: #949494;
  font-style: italic;
  font-weight: 500;
}

.sidebar-space {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
}

.sidebar-username,
.sidebar-lastseen-only {
  padding-right: 28px; 
}

.lock-icon {
  position: absolute;
  right: -20px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  cursor: pointer;
  transition: 0.2s ease;
}

.status-offline {
  color: #ff0000;
  font-weight: 600;
}