.profile-container {
  display: flex;
  justify-content: center;
  padding: 40px 20px;
  width: 100%;
}

.profile-card {
  width: 100%;
  max-width: 650px;
  background: #ffffff;
  padding: 32px;
  border: 1px solid rgb(204, 204, 204);
  border-radius: 16px;
  
}

.profile-header {
  text-align: center;
  margin-bottom: 30px;
}

.profile-header h1 {
  font-size: 2.45rem;
  font-weight: 700;
  margin-bottom: 6px;
}

.profile-header p {
  color: #666;
  font-size: 1rem;
}

.avatar-section {
  text-align: center;
  margin-bottom: 35px;
}

.avatar-wrapper {
  position: relative;
  width: 130px;
  height: 130px;
  margin: auto;
}

.avatar-img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.15);
}

.avatar-upload-btn {
  position: absolute;
  right: 0;
  bottom: 0;
  background: #000;
  width: 38px;
  height: 38px;
  border: 2px solid white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.avatar-upload-btn input {
  display: none;
}

.avatar-upload-btn .icon {
  color: #ffffff;
  width: 18px;
  height: 18px;
}

.spin {
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.upload-text {
  font-size: 0.9rem;
  color: #666;
  margin-top: 10px;
}

.info-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
  gap: 18px;
  margin-bottom: 35px;
}

.info-card {
  background: #f9fafb;
  border-radius: 12px;
  padding: 18px 20px;
  border: 1px solid #e5e7eb;
}

.info-header {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 6px;
}

.info-header h2 {
  font-size: 1.15rem;
  color: rgb(255, 0, 0);
  font-weight: 600;
}

.info-icon {
  width: 22px;
  color: #000000;
}

.info-card p {
  font-size: 1rem;
  color: #333333;
  margin-top: 4px;
  font-weight: 500;
}

.delete-btn {
  width: 100%;
  padding: 12px 0;
  background: #ff0000;
  color: #fff;
  font-weight: 600;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.25s ease;
}

.delete-btn:disabled {
  background: #bdbdbd;
  cursor: not-allowed;
}

@media (max-width: 480px) {
  .profile-card {
    padding: 22px;
  }

  .avatar-wrapper {
    width: 110px;
    height: 110px;
  }

  .info-grid {
    grid-template-columns: 1fr;
  }
}
