:root {
  --black: #000000;
  --white: #ffffff;
  --gray-light: #f2f2f2;
  --gray-mid: #a0a0a0;
  --transition: all 0.3s ease;
}

.auth-wrapper {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--white);
  color: var(--black);
  padding: 40px 20px;
  font-family: 'Inter', sans-serif;
}

.auth-card {
  width: 100%;
  max-width: 400px;
  padding: 40px;
  border-radius: 20px;
  border: 2px solid var(--black);
  box-shadow: 10px 10px 0px var(--black);
  background: var(--white);
}

.auth-header {
  text-align: center;
  margin-bottom: 30px;
}

.logo-icon {
  width: 64px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 20px;
}

.image {
  width: 70px;
  height: 70px;
  object-fit: contain;
  transition: transform 0.3s ease;
}

.auth-header h1 {
  font-size: 26px;
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 6px;
  letter-spacing: -1px;
}

.auth-header p {
  color: var(--gray-mid);
  font-size: 14px;
}

.auth-form {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.input-group label {
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.field-icon {
  position: absolute;
  left: 12px;
  color: var(--black);
}

.toggle-btnn {
  position: absolute;
  right: 12px;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 12px;
  border: none;
  background-color: transparent;
  color: #6c757d;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 8px;
  color: var(--black);
}

.auth-btn {
  margin-top: 10px;
  padding: 14px;
  background: var(--black);
  color: var(--white);
  border-radius: 20px;
  border: 2px solid var(--black);
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  transition: var(--transition);
}

.btn-loading {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.animate-spin {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.auth-footer {
  margin-top: 25px;
  text-align: center;
}

.auth-footer p {
  font-size: 14px;
  margin-bottom: 15px;
}

.auth-footer a {
  color: var(--black);
  font-weight: 700;
  text-decoration: none;
}

.copyright {
  font-size: 10px;
  color: var(--gray-mid);
  letter-spacing: 1px;
}